name: Build and Push Images

on:
  push:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push API Gateway
        uses: docker/build-push-action@v5
        with:
          context: ./ecom-core-nestjs
          push: true
          tags: ghcr.io/${{ github.repository }}/api-gateway:latest
          build-args: |
            SERVICE_NAME=api-gateway

      - name: Build and Push Auth Service
        uses: docker/build-push-action@v5
        with:
          context: ./ecom-core-nestjs
          push: true
          tags: ghcr.io/${{ github.repository }}/auth-service:latest
          build-args: |
            SERVICE_NAME=auth-service

      - name: Build and Push Catalog Service
        uses: docker/build-push-action@v5
        with:
          context: ./ecom-core-nestjs
          push: true
          tags: ghcr.io/${{ github.repository }}/catalog-service:latest
          build-args: |
            SERVICE_NAME=catalog-service

      - name: Build and Push Order Service
        uses: docker/build-push-action@v5
        with:
          context: ./ecom-core-nestjs
          push: true
          tags: ghcr.io/${{ github.repository }}/order-service:latest
          build-args: |
            SERVICE_NAME=order-service